@model IEnumerable<OnlineSatisProje.Core.Entities.KullaniciAdresMapping>

@{
    ViewBag.Title = "Adreslerim";
}

<h2>Adreslerim</h2>


@if (!Model.Any())
{
    <h1 class="display-4 text-center" style="margin-bottom: 50px; margin-top: 50px;">Adres bulunamadı</h1>
}
else
{

}