@model OnlineSatisProje.Core.Entities.UrunResimMapping
<!-- RESİM EKLE MODAL -->
<div class="modal fade" id="resimEkleModal" tabindex="-1" role="dialog" aria-labelledby="resimEkleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resimEkleModalLabel">Resim Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Html.BeginForm("ResimEkle", "Urun", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">

                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(x => x.UrunId)
                    @*<input type="hidden" value="@ViewBag.ResimEkleUrunId" name="resimekleurunid"/>*@
                    <div class="form-group row">
                        <div class="col-12">
                            <label class="custom-file col-12">
                                <input type="file" id="file" class="custom-file-input" name="upload" accept=".jpg, .png, .jpeg, .bmp, ">
                                <span class="custom-file-control"></span>
                            </label>
                            <br />
                            <p class="text-muted" id="dosyaAdi" style="display: none;"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            }
        </div>
    </div>
</div>