@using OnlineSatisProje.Web.Areas.Satici.Models
@model  UrunIndirimViewModel
@{
    ViewBag.Title = Model.UrunIndirimModel.Urun.Baslik+ " - İndirimler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4 text-muted">@Model.UrunIndirimModel.Urun.Baslik - İndirimler</h1>
<hr class="bg-inverse" />
<div class="col-12">
    <button data-target="#urunindirimeklemodal" data-toggle="modal" class="btn btn-sm btn-secondary">
        <i class="fa fa-plus-square-o"></i> İndirim ekle
    </button>
    @Html.Partial("_PartialUrunIndirimEkle", Model.UrunIndirimModel)
</div>

@if (Model.UrunIndirimMapping.Any())
{
    <table class="table mt-3">
        <thead class="thead-default">
            <tr>
                <th>Ürün</th>
                <th>İndirim</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UrunIndirimMapping)
            {
                <tr>
                    <th>@item.Urun.Baslik</th>
                    <th>@item.Indirim.Baslik</th>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 class="display-4 text-center" style="margin-bottom: 50px; margin-top: 50px;">Indirim bulunmamaktadır</h1>
}
