@model OnlineSatisProje.Core.Entities.UrunOzellikMapping
@{
    ViewBag.Title = "Özellik ekle";
}

<h1 class="display-4">Özellikler</h1>
<hr />
<div class="col-12">
    <button id="buttonOzellikEkle" class="btn btn-secondary"><i class="fa fa-plus-square-o"></i> Özellik ekle</button>
</div>
<hr />

@if (!Model.Any())
{
    <h1 class="display-4 text-center" style="margin-bottom: 50px; margin-top: 50px;">Özellik bulunamadı</h1>
}
else
{

}

