@using OnlineSatisProje.Core.Entities
@model OnlineSatisProje.Core.Entities.UrunResimMapping
@{
    ViewBag.Title = "ResimEkle";
    var resimListe = (IEnumerable<UrunResimMapping>) ViewData["ResimListe"];
}

@if (resimListe.Any())
{
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th class="text-center">Resim</th>
            <th>Başlık</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <!-- ÜRÜNE AİT RESİMLERİ LİSTELE -->
        @foreach (var resim in (IList<Resim>) ViewData["UrunResimList"])
        {
            <tr>
                <th class="text-center">
                    <img src="data:image;base64, @Convert.ToBase64String(resim.ResimBinary)" class="img-thumbnail rounded" title="" alt="" width="291" height="285"/>
                </th>
                <th>@resim.Baslik</th>
                <th>
                    @using (Html.BeginForm("ResimSil", "Urun", FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-outline-danger btn-block"><i class="fa fa-trash-o"></i> Sil</button>
                    }
                </th>
            </tr>
        }
        </tbody>
    </table>
}
}


@using (Html.BeginForm("ResimEkle", "Urun", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.HiddenFor(x => x.UrunId)
    <div class="form-group row">
        <div class="col-12">
            <label class="custom-file col-12">
                <input type="file" id="file" class="custom-file-input" name="upload" accept=".jpg, .png, .jpeg, .bmp, ">
                <span class="custom-file-control"></span>
            </label>
            <br />
            <p class="text-muted" id="dosyaAdi" style="display: none;"></p>
        </div>
    </div>
}