@model IEnumerable<OnlineSatisProje.Core.Entities.Etiket>
@{
    ViewBag.Title = "Index";
    const string modalId = "etiketEkleModal";
}

<h1 class="display-4">Etiketler</h1>
<hr />
<div class="col-12">
    <button href="#" id="buttonEtiketEkle" class="btn btn-secondary" data-toggle="modal" data-target="#@modalId"><i class="fa fa-plus-square-o"></i> Etiket ekle</button>
</div>
<hr />

@if (Model.Any())
{

}
else
{
    <h1 class="display-4 text-center" style="margin-top:20px;">Etiket bulunamadı</h1>
}

