@{
    ViewBag.Title = "Ödeme";
}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h1 class="display-4 text-center pt-5">Ödeme</h1>
        @using (Html.BeginForm("Odeme", "Sepet", FormMethod.Post, new {@class = "form-odeme"}))
        {
            <h5>Toplam Ücret: @ViewBag.ToplamUcret.ToString("C")</h5>
            <hr/>
            <div class="form-group row">
                <p class="text-muted"></p>
            </div>

            <div class="form-group row">
                @Html.Label("AD", new {@class = "col-12 col-form-label text-left"})
                <div class="col-12">
                    <input type="text" name="name" value="" placeholder="AD" class="form-control"/>
                </div>
            </div>

            <div class="form-group row">
                @Html.Label("KART NUMARASI", new {@class = "col-12 col-form-label text-left"})
                <div class="col-12">
                    <input type="text" name="name" value="" placeholder="KART NUMARASI" class="form-control"/>
                </div>
            </div>
        }
    </div>
    <div class="col-3"></div>
</div>